.homeContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin: 40px 100px;
    /* border: 1px solid rebeccapurple; */
}
.homeContainer__leftSide{
    /* border: 1px solid blue; */
    flex: 1
}

@media only screen and (max-width: 970px){
    .homeContainer{
        padding: 2px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        margin: 20px 10px;
        
        /* border: 1px solid rebeccapurple; */
    }
}
@media only screen and (max-width: 610px){
    .homeContainer{
        padding: 2px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        margin: 20px 0px;
        
        /* border: 1px solid rebeccapurple; */
    }
}

